/* styles */
html,
body {
    height: 100%;
}

.btn:hover {
    color: aqua;
    cursor: pointer;
}

li.btn {
    -webkit-touch-callout: inherit;
    /* iOS Safari */
    -webkit-user-select: inherit;
    /* Safari */
    -khtml-user-select: inherit;
    /* Konqueror HTML */
    -moz-user-select: inherit;
    /* Old versions of Firefox */
    -ms-user-select: inherit;
    /* Internet Explorer/Edge */
    user-select: inherit;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#password,
#username {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    word-break: break-all;
}